// Styles below are dotsub related

.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: @white;
  text-shadow: 0 1px 0 @black;
}


body {
    padding-top: 40px;
    background-image: url("/images/enterprise/Map&Languages.png");
    background-position: 0 40px;
    background-repeat: repeat-x;
}


.masthead {
  padding-top: 36px;
  text-align: center;
}

.mastheadGradient {
    #gradient > .vertical(rgba(255,255,255,0), rgba(221,221,221,1));
}

.masthead h1 {
  margin-bottom: 18px;
}

.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

.jumbotron {
    position: relative;
}

.jumbotron h1 {
    margin-bottom: 9px;
    font-size: 65px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.jumbotron p {
    margin-bottom: 18px;
    font-weight: 300;
}

.jumbotron .btn-large {
    font-size: 20px;
    font-weight: normal;
    padding: 14px 24px;
    margin-right: 10px;
    .border-radius(6px);
}

.jumbotron .btn-large small {
    font-size: 14px;
}

/* Masthead (docs home) */
.masthead {
    padding-top: 36px;
}

.masthead h1, .masthead p {
    text-align: center;
}

.masthead h1 {
    margin-bottom: 18px;
}

.masthead p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    line-height: 36px;
    color: @headingsColor;
}

.dropdown-form {
    left: auto;
    padding: 15px;
    right: 0;
}

.dropdown-form label {
    color: @textColor;
}

.dropdown-form .subchck {
    text-align: right;
}

.dropdown-form .remember {
    cursor: pointer;
    float: left;
    line-height: 25px;
}

.dropdown-form .divider {
    margin: 15px -15px;
}

.dropdown-form p a {
    display: inline;
}
.dropdown-form .signin {
    margin: 0;
}

.footer ul {
    list-style: none;
}

.footer {
  padding-left:  20px;
  padding-right: 20px;
  #gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
  .border-radius(4px);
  .box-shadow(~"0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1)");
  padding-top: 20px;
}

.footer ul li, .footer ul li a {
    color: @white;
}

.footer ul li span {
    font-weight: bold;
    color: @white;
}

.submenu {
    padding-top: 36px
}

.submenu .nav-list {
    padding-left: 5px;
    padding-right: 5px;
}

#mailingSignUp fieldset {
    margin-bottom: 0;
}

.well button {
    color: @wellColor;
    font-weight: bold;
    font-size: 22px;
}

.well button:hover {
    color: @dotsubBlue;
}

.well h2 {
    font-weight: normal;
    padding-top: 5px;
}

.well .btn-warning {
    font-size: 22px;
}

.contactFooter {
    padding-top:20px;
    #gradient > .vertical(#f9e497, #ffde89);
}

.followUs {

}

.oldSiteWarning .alert {
   margin-bottom: -25px
}

.callToAction {
    text-align: center;
    .border-radius(0px);
}

.callToAction span {
    display: inline-block;
    font-size: 24px;
    line-height: 46px;
    margin-left: 15px;
    margin-top: 5px;
}

.callToAction button {
    position: relative;
    top: -5px;
}

.carousel .item > img {
    margin-left: auto;
    margin-right: auto;
}

.carousel .item .carousel-caption {
    text-align: left;
    background: none;
}

.carousel .item button{
    font-weight: bold;
    font-size: 22px;
    position: relative;
    right: -140px;
}

.clientInfo .span8 {
  #gradient > .vertical(rgba(255,255,255,0), rgba(238,238,238,1));
    padding-left: 20px;
    margin-left: 0;
}

.clientInfo .span8 h3 {
    margin-bottom: 20px;
    margin-top: 5px;
}

.clientInfo .span2 {
    margin-left: 0;
    width: 137px;
    text-align: center;
    margin-top: 20px;
}


.clientInfo {
    min-height: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    border: 1px solid @wellBorderColor;
    border: 1px solid rgba(0,0,0,.05);
    .border-radius(5px);
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
    blockquote {
        border-color: #ddd;
        border-color: rgba(0,0,0,.15);
    }

}