.rightBar .filmLink {
    background: url("/styles/dotsub2/images/film-button.png") repeat scroll 0 0 transparent;
}
.rightBar .filmLink {
    height: 55px;
    width: 240px;
}
.filmLink {
    margin-bottom: 20px;
}

.rightBar .filmLink .buttonText a {
    color: #603300;
}
.rightBar .filmLink .buttonText a {
    font-weight: bold;
    text-decoration: none;
}

.rightBar .filmLink .buttonText {
    color: #603300;
}

.rightBar .filmLink .buttonText {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 12px;
    width: 180px;
}

div.featuredMedia {
    margin-bottom: 15px;
}
.noPreviewImage {
    border-radius: 3px 3px 3px 3px;
    height: 90px;
    padding: 1px;
    position: relative;
    width: 160px;
}
.noPreviewImage .noScreenshotMessage {
    font-size: 8pt;
    position: relative;
    text-align: center;
    top: 70px;
    color: #fff;
}
.listview .mediaBox .thumbnail img {
    border-radius: 3px 3px 3px 3px;
    padding: 2px;
}
.featuredMedia .thumbnail .thumbnail-holder, .thumbnails .thumbnail .thumbnail-holder, .otherMedia .thumbnail-outline .thumbnail-holder {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 160px;
}
.thumbnails .thumbnail .thumbnail-outline, .featuredMedia .thumbnail .thumbnail-outline, .mediaLinks .otherMedia .thumbnail-outline {
    border-radius: 3px 3px 3px 3px;
    height: 90px;
    overflow: hidden;
    padding: 1px;
    position: relative;
    width: 160px;
}
.thumbnails .thumbnail .thumbnail-outline .thumbnail-shim, .mediaLinks .otherMedia .thumbnail-outline .thumbnail-shim, .featuredMedia .thumbnail .thumbnail-outline .thumbnail-shim {
    height: 90px;
    overflow: hidden;
}
.featuredMedia .thumbnail-holder span, .thumbnails .thumbnail-holder span, .otherMedia .thumbnail-outline .thumbnail-holder span {
    height: 100%;
    vertical-align: middle;
}
.featuredMedia .thumbnail-holder *, .thumbnails .thumbnail-holder *, .otherMedia .thumbnail-outline .thumbnail-holder * {
    vertical-align: middle;
}
.featuredMedia h3 {
    height: 30px;
    overflow: hidden;
    width: 165px;
}
.featuredMedia h3 a {
    font-weight: bold;
    height: 30px;
    text-decoration: none;
}
.featuredMedia h3 a:hover {
    text-decoration: underline;
}
.featuredMedia h4 {
    font-weight: bold;
}

div.featuredMedia .metadata span a {
    text-decoration: none;
}
div.featuredMedia .metadata span a:hover {
    text-decoration: underline;
}
.listview .mediaBox {
    margin-bottom: 5px;
}
.listview div.mediaBox h3 {
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 2px;
}
.listview .mediaBox {
    border-bottom: 1px solid #E5E5E5;
    clear: left;
    margin-bottom: 15px;
    overflow: hidden;
    padding-bottom: 15px;
}

.listview .mediaBox .mediaMetadata {
    float: left;
    width: 740px;
    padding-left: 20px;
}

.userSideMenuBody .listview .mediaBox .mediaMetadata {
    width: 500px;
}

.listview .mediaBox .thumbnail {
    float: left;
}
.listview .mediaBox .mediaMetadata span a:hover {
    text-decoration: underline;
}
.listview .mediaBox .mediaMetadata .metadataItem {
    float: left;
    margin-bottom: 10px;
    padding-left: 9px;
    padding-right: 10px;
}
.listview .mediaBox .mediaMetadata .first-metadataItem {
    float: none;
    padding-left: 0;
}
.listview .mediaBox .mediaMetadata .second-metadataItem {
    padding-left: 0;
}
.listview .mediaBox .mediaDescription {
    clear: both;
    margin-bottom: 10px;
}

#mediaList.thumbnails .mediaBox:first-child, #mediaList.thumbnails .mediaBox:nth-child(5n+1), .featuredMedia:first-child, .featuredMedia:nth-child(6n)  {
    padding-left: 0;
}

.thumbnails .mediaBox, .featuredMedia {
    float: left;
    height: 400px;
    padding-bottom: 15px;
    padding-left: 15px;
    width: 176px;
}

.featuredMedia {
    height: 260px;
}

.thumbnail {
    min-height: 70px;
}
.thumbnails .mediaBox .generated {
    display: none;
}
.first-metadataItem h4 {
    font-weight: bold;
}
.thumbnails .first-metadataItem {
    margin-bottom: 15px;
}
.thumbnails div.mediaBox h3 {
    height: 30px;
    margin-bottom: 15px;
    overflow: hidden;
    width: 165px;
}
.thumbnails .mediaDescription {
    height: 55px;
    margin-bottom: 15px;
    margin-top: 15px;
    overflow: hidden;
    width: 165px;
}
.thumbnails .mediaLinks {
    width: 165px;
}
.thumbnails a.expander {
    display: none;
}
.thumbnail {
    min-height: 70px;
    padding: 6px;
}

.listview .mediaBox .mediaMetadata h4 a {
    word-wrap: break-word;
    height: 25px;
    display: block;
}

.thumbnails .mediaBox .mediaMetadata h4 a {
    height: 60px;
    display: block;
    overflow: hidden;
}

.mediaBox .mediaMetadata span a {
    text-decoration: none;
}
.mediaBox .mediaMetadata span a:hover {
    text-decoration: underline;
}

.mediaBox .mediaMetadata .metadataItem a {
    text-decoration: none;
}
.mediaBox .mediaMetadata .metadataItem a:hover {
    text-decoration: underline;
}
.mediaBox h3 a {
    font-weight: bold;
    text-decoration: none;
}
.mediaBox h3 a:hover {
    text-decoration: underline;
}
.mediaBox .mediaLinks a {
    text-decoration: none;
}
.mediaBox .mediaLinks a:hover {
    text-decoration: underline;
}

.listControls div {
    float: left;
    height: 25px;
    margin-bottom: 6px;
    width: 400px;
}
.listControls {
    overflow: hidden;
}
.listControls div.listControl, .listControls div.thumbnailControl {
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    float: right;
    height: 24px;
    margin-right: 2px;
    text-align: center;
    width: 100px;
}

.listControls div.listControl, .listControls div.thumbnailControl {
    background-image: url("/styles/dotsub2/images/dotsub2.png");
    background-position: 0 -456px;
    background-repeat: repeat-x;
    border: 1px solid #DADADA;
}
.listControls div.selectedControl {
    background-image: url("/styles/dotsub2/images/dotsub2.png");
    background-position: 0 -485px;
    border: 1px solid #DFA081;
}

.mediaMetadata ul, ol, #advancedMenu ul, .translationControls ul {
    margin: 0;
    padding: 0;
}

.noPreviewImage {
    background: url(/images/no-screenshot.png ) center no-repeat;
}

.thumbnails {
    margin-left: 0px;
}


div.featuredMedia {
    margin-bottom: 15px;
}

.x-form-field, .x-form-display-field {
    color: black;
    float: left;
    font: 12px tahoma,arial,verdana,sans-serif;
    font-size: 12px !important;
    margin: 0;
}

.listControls a {
    font-size: 14px;
}

.list-ct ul, .module ul, #uploadForm ul, form ul {
    margin: 0;
}

.list-ct ul li, .x-form-item-body label {
    font: 12px tahoma,arial,verdana,sans-serif;
    font-size: 12px !important;
}

.x-form-checkbox, .x-form-radio {
    width: 13px !important;
}

.module {
  min-height: 10px;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid @dotsubBlue;
  border: 1px solid rgba(0,0,0,.25);
  .border-radius(4px);
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }
}

.module h3 {
    font-size: 18px;
    line-height: 22px;
}

.expanded h3:before {
    content: '▼\0000a0';
    font-size: 10px;
}

.collapsed h3:before {
    content: '▶\0000a0';
    font-size: 10px;
}

#uploadForm a em {
    padding: 0.35em 0.75em 0 0.35em;
}

#pageBg {
    min-height: 250px;
}

.userVideoItem, .userVideo .thumbholder, .userVideo {
    margin-left: 0;
    padding-left: 5px;
    overflow: hidden;
}

.otherMedia {
    padding-left: 10px;
    margin-left: 0;
    width: 130px;
}

.otherMedia .thumbnail-holder, .otherMedia .thumbnail-outline, .otherMedia .preview {
    width: 125px;
}

.otherMedia .thumbnail-outline .thumbnail-holder {
    display: table-cell;
    height: 90px;
    text-align: center;
    vertical-align: middle;
    width: 125px;
}

.mediaLinks .otherMedia .thumbnail-outline {
    border: none;
    height: 90px;
    overflow: hidden;
    padding: 1px;
    position: relative;
    width: 125px;
}

.userVideo {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.userVideoItem {
    width: 205px;
}

#playList .selected {
    background-color: @dotsubLighterBlue;
    border: 1px solid @dotsubBlue;
    border: 1px solid rgba(0,0,0,.25);
    .border-radius(4px);
}

.teamBio {
    padding-bottom: 15px;
}
.teamBio img {
    padding-right: 15px;
}

.demoArea #demo .translation {
  color: @dotsubBlue;
}

.demoArea .demoPlayer {
  padding-top: 32px;
}

.mediaLinks h2 {
  font-size: 18px;
}

.transcriptParagraph {
    text-indent: 2.5em;
    margin-bottom: 8px;
}

.transcriptParagraph-hover {
    color: @dotsubBlue;
}

.translateVideo .smallColumn {
      width: 90px;
  }

.translateVideo #translateTable {
    width: 100%;
}

.translateVideo .shortcuts a {
    font-size: larger;
    padding-right: 5px;
}

.translateVideo .translationControls {
    margin-top: 10px;
}

.translateVideo .translationControls li, .transciptionTools #advancedMenu li {
     padding: 5px 5px 5px 0;
}

.translateVideo .translationControls a {
    color: @dotsubBlue;
    text-decoration: none;
}

.translateVideo .translationControls a:hover {
    text-decoration: underline;
}

.translateVideo .optionPicker {
    padding-bottom: 10px;
    padding-left: 10px;
}

.translateVideo .quickAdd {
    color: @dotsubBlue;
}

.translateVideo td.changed {
    background-color: #FFFF99;
}

.translateVideo .leftPane {
    float: left;
    clear: both;
}

.translateVideo .time {
    font-weight:bold;
}

.translateVideo .time:hover {
    color: @dotsubBlue;
}

.translateVideo .rightPane {
    float: left;
    height: 480px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.translateVideo .addTranslation, .editTranslation, .target {
  color: @dotsubBlue;
}

.tab-content {
  border-left: 1px solid darken(@wellBackground, 7%);
  border-right: 1px solid darken(@wellBackground, 7%);
  border-bottom: 1px solid darken(@wellBackground, 7%);
  .border-bottom-radius(5px);
  padding: 10px;
  margin-bottom: 10px;
}

#mediaRatingInfo {
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  color: #333;
  font-weight: bold;
  padding: 5px 0;
}

#displayMedia #ratingDiv {
  padding-bottom: 15px;
}

.featuredMedia .thumbnail img, .thumbnails .mediaBox .thumbnail img, .mediaLinks .thumbnail-holder img {
    width: 160px;
    top: -15px;
    position: relative;
    overflow: hidden;
}
.thumbnails .thumbnail .thumbnail-outline .thumbnail-shim, .mediaLinks .otherMedia .thumbnail-outline .thumbnail-shim, .featuredMedia .thumbnail .thumbnail-outline .thumbnail-shim  {
    overflow: hidden;
    height: 90px;
}

.featuredMedia .thumbnail-holder span, .thumbnails .thumbnail-holder span, .otherMedia .thumbnail-outline .thumbnail-holder span {
    vertical-align: middle;
    height: 100%;
    *display: inline-block;
}

.featuredMedia .thumbnail-holder *, .thumbnails .thumbnail-holder *, .otherMedia .thumbnail-outline .thumbnail-holder *{
    vertical-align: middle;
}

.featuredMedia .thumbnail .thumbnail-holder, .thumbnails .thumbnail .thumbnail-holder, .otherMedia .thumbnail-outline .thumbnail-holder {
    vertical-align: middle;
    text-align: center;
    width: 160px;
    height: 120px;
    display: table-cell;
    *display: block;
}

#displayMedia #mediaShare ul {
  margin-left: 0;
}

#displayMedia #mediaShare ul li {
  margin-bottom: 5px;
}

#displayMedia #mediaShare h4 {
  margin-top: 10px;
}

img.spinner {
    height: 1em;
}

div.spinner {
    display: inline;
    white-space: nowrap;
    height: 1em;
    width: 17px;
    visibility: visible;
}

#displayMedia #mediaTranscription {
  max-height: 260px;
}

#displayMedia #mediaTranscription a {
  text-decoration: none;
  color: @textColor;
}

#displayMedia #mediaTranscription a:hover {
  color: @dotsubBlueHighlight;
  text-decoration: underline;
}

#displayMedia #mediaTranscription div a.highlight {
  background-color: @dotsubBlue;
  color: @white;
}
.teamBanner {
    padding-top: 15px;
    padding-bottom: 15px;
}


.teamMedia .featuredMedia {
    padding-left: 45px;
}

.teamMedia .featuredMedia:nth-child(3n+1){
    padding-left: 0;
}

.teamMedia .featuredMedia {
    height: 180px;
}

.teamMedia {
  clear:both;
  padding-top:15px
}

.teamMedia .featuredMedia h4 {
  height: 40px;
  overflow: hidden;
}

.userSideMenu .tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
    width: 100%;
}