// Styles below are dotsub related

.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: right;
  font-family: @headingsFontFamily;
  color: @white;
  text-shadow: 0 1px 0 @black;
}


body {
    background-image: url("/images/enterprise/Map&Languages.png");
    background-position: 0 40px;
    background-repeat: repeat-x;
}

.navbar-static-top .brand {
    font-family: @headingsFontFamily;
    margin-left: 20px;
    height: 18px;
}

.navbar-static-top .brand img {
    height: 18px;
    padding-bottom: 5px;
}


.masthead {
  padding-top: 36px;
  text-align: center;
}

.enterpriseMasthead {
  text-align: center;
  padding-top: 20px;
}

.mastheadGradient {
    #gradient > .vertical(rgba(255,255,255,0), rgba(221,221,221,1));
}

.masthead h1 {
  margin-bottom: 18px;
}

.masthead p, .marketing .page-header p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 28px;
  line-height: 36px;
  color: @headingsColor;
}

.jumbotron {
    position: relative;
}

.jumbotron h1 {
    margin-bottom: 9px;
    font-size: 65px;
    font-family: @headingsFontFamily;
    letter-spacing: -1px;
    line-height: 1;
}

.jumbotron p {
    margin-bottom: 18px;
    font-weight: 300;
}

.jumbotron .btn-large {
    font-size: 20px;
    font-weight: normal;
    padding: 14px 24px;
    margin-right: 10px;
    .border-radius(6px);
}

.jumbotron .btn-large small {
    font-size: 14px;
}

/* Masthead (docs home) */
.masthead {
    padding-top: 36px;
}

.masthead h1, .masthead p {
    text-align: center;
}

.masthead h1 {
    margin-bottom: 18px;
}

.masthead p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 28px;
    line-height: 36px;
    color: @headingsColor;
}

.dropdown-form {
    left: auto;
    padding: 15px;
    right: 0;
}

.dropdown-form label {
    color: @textColor;
}

.dropdown-form .subchck {
    text-align: right;
}

.dropdown-form .remember {
    cursor: pointer;
    float: left;
    line-height: 25px;
}

.dropdown-form .divider {
    margin: 15px -15px;
}

.dropdown-form p a {
    display: inline;
}
.dropdown-form .signin {
    margin: 0;
}

.footer ul {
    list-style: none;
}

.footer {
  padding-left:  20px;
  padding-right: 20px;
  background-color: @navbarBackground;
  .box-shadow(~"0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1)");
  padding-top: 20px;
}

.footer ul li, .footer ul li a {
    color: @white;
}

.footer ul li span {
    font-family: @headingsFontFamily;
    font-size: 18px;
    color: @white;
}

.submenu {
    padding-top: 36px
}

.submenu .nav-list {
    padding-left: 5px;
    padding-right: 5px;
}

#mailingSignUp fieldset {
    margin-bottom: 0;
}

.well button {
    color: @wellColor;
    font-family: @headingsFontFamily;
    font-size: 22px;
}

.well button:hover {
    color: @dotsubBlue;
}

.well h2 {
    font-weight: normal;
    padding-top: 5px;
}

.well .btn-warning {
    font-size: 22px;
}

.contactFooter {
    padding-top:20px;
    background-color: #ffde89;
    margin-top: 40px;
}

.followUs {

}

.oldSiteWarning .alert {
   margin-bottom: -25px
}

.callToAction {
    text-align: center;
    padding-top: 15px;
    .border-radius(0px);
}

.callToAction span {
    display: inline-block;
    font-size: 36px;
    line-height: 46px;
    margin-left: 15px;
    margin-top: 5px;
    color: @headingsColor;
    font-family: @headingsFontFamily;
}

.callToAction button {
    position: relative;
    top: -8px;
    color: @headingsColor;
}

.callToAction button:hover {
    color: @headingsColor;
}

.callToAction .container {
    text-align: left;
    position: relative;
    left: 25px;
    width: 850px;
}

.carousel .item > img {
    margin-left: auto;
    margin-right: auto;
}

.carousel .item .carousel-caption {
    text-align: left;
    background: none;
}

.carousel .item button{
    font-family: @headingsFontFamily;
    font-size: 22px;
    position: relative;
    right: -55px;
}

.clientInfo .span8 {
  #gradient > .vertical(rgba(255,255,255,0), rgba(238,238,238,1));
    padding-left: 20px;
    margin-left: 0;
}

.clientInfo .span8 h3 {
    margin-bottom: 20px;
    margin-top: 5px;
}

.clientInfo .span2 {
    margin-left: 0;
    width: 137px;
    text-align: center;
    margin-top: 20px;
}


.clientInfo {
    min-height: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    border: 1px solid @wellBorderColor;
    border: 1px solid rgba(0,0,0,.05);
    .border-radius(5px);
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
    blockquote {
        border-color: #ddd;
        border-color: rgba(0,0,0,.15);
    }
}

.button-row div {
    color: @navbarText;
    height: 25px;
    padding-top: 7px;
    border-left: 1px solid @navbarBackground;
    border-right: 1px solid @navbarBackgroundHighlight;
    cursor: pointer;
}

.button-row div:first-child {
    border-right: 1px solid @navbarBackground;
}

.button-row div.active {
    background-color: @navbarLinkBackgroundActive;
    font-family: @headingsFontFamily;
    background-image: none;
    border: none;
}

.benefits div {
    padding-top: 10px;
    padding-bottom: 10px;
}


@font-face {
    font-family: '_bariol';
    src: url('/styles/bariol_regular-webfont.eot');
    src: url('/styles/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),

         url('/styles/bariol_regular-webfont.svg#_bariol') format('svg'),
         url('/styles/bariol_regular-webfont.woff') format('woff'),
         url('/styles/bariol_regular-webfont.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-variant:normal;
}

@font-face {
    font-family: '_bariol_bold';
    src: url('/styles/bariol_bold-webfont.eot');
    src: url('/styles/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),

         url('/styles/bariol_bold-webfont.svg#_bariol_bold') format('svg'),
         url('/styles/bariol_bold-webfont.woff') format('woff'),
         url('/styles/bariol_bold-webfont.otf') format('truetype');

    font-weight: bold;
    font-style: normal;
    font-variant:normal;
}

.navbar-static-top .brand {
    font-family: "_bariol_bold","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 26px;
}

.button-row-container {
    background-color: @navbarBackground;
    box-shadow: 0 11px 5px #eee;
}

#enterpriseButton .btn-large {
    font-size: 22px;
}

#enterpriseButton:hover{
    text-decoration: none;
}

#enterpriseButton .btn-large:hover {
    color: @headingsColor;
}

.thumbnail .caption {
    word-wrap: break-word;
}

.imgHolder {
    padding:10px;
}

#loginError a {
  padding: 3px 0;
}

.dotsub-branded a.brand {
    padding: 7px 15px 0px 0 !important;
}
.navbar-static-top .brand img {
    height: 25px;
}

#mediaCollectionList .thumbnails .mediaBox {
    height: 100px;
}

.x-slider-horz {
  padding-right: 0;
  padding-left: 0;
}

#videoNotReadyMessage:before {
  content:"";
  display:block;
  height:45%;
}

#videoNotReadyMessage {
  height: 377px;
  text-align: center;
}